<!DOCTYPE html>
<html>
<head>
	<title>WSP Item Specs: Keila Bowers</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<div id="image_slideshow">
			<img src="#" alt="image1">
			<img src="#" alt="image2">
			<img src="#" alt="image3">
		</div>
		
		<h1>Specifications</h1>
		<ul>
			<li><a href="#speed" id="speed">Max Speed</a></li>
			<li><a href="#volume" id="volume">Volume</a></li>
			<li><a href="#room" id="room">Room</a></li>			
		</ul>
	
		<div>
			<p id="speed"><img src="#" alt="gear"><span>Hi-Speed Engine<span>Detail Text Here.</p>
			<p id="volume">Volume Content Here</p>
			<p id="room">Room Content Here</p>
		</div>
	</section>	

	<!-- End Component -->
	
</body>
</html>