<!DOCTYPE html>
<html>
<head>
	<title>WSP Results: Keila Bowers</title>
<!--	<link rel="stylesheet" type="text/css" href="../../css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<section>
		
		<div>
			<img src="#" alt="pic_slide">
			<a href="INSERT JS FUNC OF SOME SORT"><img src="" name="back"></a>
			<a href="INSERT JS FUNC OF SOME SORT"><img src="" name="forward"></a>
		</div>
		
		<div>
			<p>4</p>
			<p>Bedrooms</p>
		</div>
		
		<div>
			<p>2.5</p>
			<p>Bathrooms</p>
		</div>
		
		<div>
			<h1>West 37th Street<h1>
			<p>New York, NY 12345</p>
			<p>Stay in this luxurious 1 bedroom...</p>
			<ul>
				<li><img src="#" alt="coffee"></li>
				<li><img src="#" alt="entertainment"></li>
				<li><img src="#" alt="transport"></li>
				<li><img src="#" alt="medical"></li>
				<li><img src="#" alt="food"></li>
			</ul>

			<div>
				<p>Upper West Side</p>
			</div>
		</div>
		
		<div>
			<h1>$12,300</h1>
			<p>per month</p>
			<a href="#">Cozy Details</a>
		</div>
	</section>

	<!-- End Component -->
	
</body>
</html>