<!DOCTYPE html>
<html>
<head>
	<title>WSP Header: Keila Bowers</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<header>
		<a href="#home"><img src="#" alt="company_logo"></a>
		<nav>
		<a href="">Home</a>
		<a href="">About</a>
		<a href="">Careers</a>
		<a href="">Contact</a>
		<a href="">We Are Hiring</a>	
		</nav>
	</header>
	<!-- End Component -->
	
</body>
</html>