<!DOCTYPE html>
<html>
<head>
	<title>WSP Contact Form: Keila Bowers</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<section>
		<h1>Lets get in touch</h1>
		<p>We're open for any suggestion or just to have a chat</p>

		<div class="vcard">			
			<p class="tel">+1 888 476 5595</p>
			<p class="tel">+1 888 123 9895</p>
			
			<p><a class="email" href="mailto:#">info@appon.com</a></p>
			<p><a class="email" href="mailto:#">sales@appon.com</a></p>			
						
			<p class="adr">
			<span class="street-address">101 West Street,</span><br>
			<span class="locality">New York,</span>
			<abbr class="region" title="New York">CA</abbr>
			<span class="postal-code">12345</span>
			</p>
		</div>	
		
		<a href="">view on map</a>		
	</section>
	
	<section>
		<form action="" method="post" id="contact">
			<fieldset>

				<div>
				<label for="name"></label>
				<input id="name" name="name" type="text" placeholder="name" required aria-required="true">
				</div>
						
				<div>
				<label for="email"></label>
				<input id="email" name="email" type="email" placeholder="email" required aria-required="true">
				</div>
				
				<div>
				<label for="message_txt"></label>
				<textarea name="message_txt" rows="5" cols="5" form="contact" placeholder="message"></textarea>
				</div>
				
				<button id="message" name="message" type="button">Send Message</button>
				
			</fieldset>  			
							
		</form>		
	</section>
	

	<!-- End Component -->
	
</body>
</html>