<!DOCTYPE html>
<html>
<head>
	<title>WSP Tabs: Keila Bowers</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	
	<article>	
		<section>
	
			<ul>
				<li><a href="#dash" id="dash">Dashboard</a></li>
				<li><a href="#schedule" id="schedule">Schedule</a></li>
				<li><a href="report" id="report">Report</a></li>			
			</ul>
	
			<div>
				<p id="dash">Dashboard Content Here</p>
				<p id="schedule">Schedule Content Here</p>
				<p id="report">Report Content Here</p>
			</div>
	
		</section>
	
		<section>
			<a href="">Add Client</a>
		</section>	
	</article>
	
	<!-- End Component -->
	
</body>
</html>