<!DOCTYPE html>
<html>
<head>
	<title>WSP Order Review: Keila Bowers</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<form action="" method="get" id="order">
	<fieldset>
		<button id="import" name="import" type="submit">Import Last Order</button>
	</fieldset>	
	
	<fieldset>
		<table>
			<tr>
			<th>Product</th>
			<th>Qty</th> 
			<th>Unit</th>
			<th>Price</th>
			<th>Subtotal</th>
			<th></th>
			</tr>	
			<tr>
			<td>Pomegranate</td>
			<td>3</td> 
			<td>each</td>
			<td>5</td>
			<td>15</td>
			<td><button id="del" name="del" type="submit"><img src="#" alt="></button></td>
			</tr>
		</table>
	</fieldset>
		
	<fieldset>
		<meter value="0.6">60%</meter>
		<p>Total</p>
		<button id="submit" name="submit" type="submit">Submit</button>
	</fieldset>	
</form>

	<!-- End Component -->
	
</body>
</html>