<!DOCTYPE html>
<html>
<head>
	<title>WSP Pricing Table: Keila Bowers</title>
<!--	<link rel="stylesheet" type="text/css" href="../../css/reset.css" /> -->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<article>
	
		<h1>Pricing Table Header</h1>
		<p>Supporting paragraph defining table contents</p>
	
		<section>
			<h2>Basic</h2>
			<p>From $99 per month</p>
		
			<ul>
				<li>Total Users</li>
				<li>Unlimited Styles</li>
				<li>Advanced Protection</li>
				<li>Cloud Storage</li>
				<li>24/7 Customer Service</li>
				<li>Backup Service</li>
				<li>$99 Per Month</li>
			</ul>
		
			<ul>
				<li>15</li>
				<li><img src="#" alt="check"></li>
				<li><img src="#" alt="check"></li>
				<li><img src="#" alt="x"></li>
				<li><img src="#" alt="x"></li>
				<li><img src="#" alt="x"></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</section>
	
		<section>
			<h2>Premium</h2>
			<p>From $199 per month</p>
		
			<ul>
				<li>Total Users</li>
				<li>Unlimited Styles</li>
				<li>Advanced Protection</li>
				<li>Cloud Storage</li>
				<li>24/7 Customer Service</li>
				<li>Backup Service</li>
				<li>$199 Per Month</li>
			</ul>
		
			<ul>
				<li>35</li>
				<li><img src="#" alt="check"></li>
				<li><img src="#" alt="check"></li>
				<li><img src="#" alt="x"></li>
				<li><img src="#" alt="x"></li>
				<li><img src="#" alt="x"></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</section>

		<section>
			<h2>Ultimate</h2>
			<p>From $299 per month</p>
		
			<ul>
				<li>Total Users</li>
				<li>Unlimited Styles</li>
				<li>Advanced Protection</li>
				<li>Cloud Storage</li>
				<li>24/7 Customer Service</li>
				<li>Backup Service</li>
				<li>$299 Per Month</li>
			</ul>
		
			<ul>
				<li>60</li>
				<li><img src="#" alt="check"></li>
				<li><img src="#" alt="check"></li>
				<li><img src="#" alt="x"></li>
				<li><img src="#" alt="x"></li>
				<li><img src="#" alt="x"></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</section>	
	
	</article>	

	<!-- End Component -->
	
</body>
</html>